{% extends 'base.html'%}

{% block content %}

<script>
    function showLoader() {
        let loader = document.getElementById("loader");
        loader.style.display = "flex";
        loader.style.alignItems = "center";
        loader.flexDirection = "row";
    }
</script>

<div class="row">
    <div class="col-12 col-md-8">
        <div class="text-center">
            <h1>Uploaded document</h1>
            <iframe id="iframe_pdf" src="{{docurl}}" width="800" height="750vh">
            </iframe>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <form action="{% url 'generate_report' docid %}" method="post" enctype="multipart/form-data"
            onsubmit="showLoader()">
            {% csrf_token %}
            <div class="col">
                {{form.as_p}}
                <p><input class="btn btn-primary" type="submit" value="Generate Report" /></p>
                <div id="loader" style="display: none;">
                    <div style="padding-right: 7px; white-space: pre-line;">Generating Report...
                        This could take a few seconds</div>
                    <img src="/static/loading-gif.gif" height="25px" width="25px" />
                </div>
            </div>
            {% if error_msg %}
            <p style="white-space: pre-line">{{ error_msg }}</p>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}