{% extends 'base.html'%}
{% block content %}

<script>
    Dropzone.options.uploadForm = {
        url: "{% url 'upload_document' report_pk %}",
        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 5,
        maxFiles: 50,
        maxFilesize: 20,
        acceptedFiles: '.pdf',
        addRemoveLinks: true,
        init: function () {
            dzClosure = this; // Makes sure that 'this' is understood inside the functions below.

            // for Dropzone to process the queue (instead of default form behavior):
            document.getElementById("submit-all").addEventListener("click", function (e) {
                // Make sure that the form isn't actually being sent.
                e.preventDefault();
                e.stopPropagation();
                dzClosure.processQueue();
            });

            //send all the form data along with the files:
            this.on("sendingmultiple", function (data, xhr, formData) {
                formData.append("csrfmiddlewaretoken", jQuery("[name=csrfmiddlewaretoken]").val());
                formData.append("category", jQuery("[name=category]").val());
                console.log(jQuery("[name=category]").val())
            });
            this.on("successmultiple", function (files, response) {
                // Gets triggered when the files have successfully been sent.
                // Redirect user or notify of success.
                window.location.href = "{% url 'view_report' report_pk %}";
            });
        }
    }
</script>

<div class="col">
    <!-- Upload form. Note enctype attribute! -->
    <form action="{% url 'upload_document' report_pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <h3>Upload your files</h3>
                <br>
                {{ message }}
                <br><br>
                {{form}}
                <div class="dropzone" id="upload-form">

                </div>
                </p>
                <p><button class="btn btn-primary" type="submit" value="Upload" id="submit-all">
                        Upload
                    </button></p>
            </div>
        </div>
        <br>
    </form>
</div>
{% endblock %}